.site-footer {
  background-color: #333;
  color: #fff;
}

.footer-content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.column-right {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-form input {
  border-radius: 1.875rem;
  color: #aaa;
  padding: 0.75rem 1.25rem;
  width: 21.5rem;
}

.footer-social h4 {
  margin-bottom: 1rem;
  font-weight: 400;
}

.social-links {
  display: flex;
  gap: 1.25rem;
}

.social-links li a:hover img {
  opacity: 0.7;
}

.footer-nav {
  display: flex;
  gap: 1.5625rem;
}

.nav-column {
  display: flex;
  flex-direction: column;
}

.nav-column h4 {
  color: #ededed;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.nav-column ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-column ul li a:hover {
  text-decoration: underline;
}

.footer-copy {
  font-size: 1.25rem;
  text-align: center;
  padding: 1.25rem 0;
}

@media (max-width: 1000px) {
  .footer-content {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
  }

  .footer-social ul {
    gap: 1rem;
  }

  .footer-nav {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-copy {
    font-size: 1rem;
    padding: 1.5rem 0 1.5rem;
  }
}