.header {
    background-color: #fff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    /* 40px é a soma do espaçamento lateral da caixa do header segundo o template do figma (20px de cada lado) */
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.255rem 1.25rem;
}

.logo img {
    height: 48px;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a {
    font-size: 1.25rem;
    color: #333;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c3aed;
}

.nav-right ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}


.menu-icon {
    width: 30px;
    height: 30px;
    display: block;
    z-index: 1000;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.menu-toggle, 
.menu-icon {
    display: none;
}

.menu-icon:hover img {
    opacity: 0.7;
}

@media (max-width: 1280px) {
    .header {
        width: calc(100% - 40px);
    }

    .menu-icon {
        display: block;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        flex-direction: column;
        background-color: #fff;
        gap: 2rem;
        transition: right 0.3s ease;
        align-items: flex-start;
        padding: 80px 20px 20px;
    }

    .nav-center,
    .nav-right {
        width: 100%;
        text-align: center;
    }

    .nav-center ul,
    .nav-right ul {
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }

    .nav-center ul li,
    .nav-right ul li {
        width: 100%;
    }

    .nav-center a,
    .nav-right a {
        width: 100%;
        border-bottom: 1px solid #eee;
        padding: 0.3rem 0;
        font-size: 1rem;
        display: block;
    }

    .nav-center a img,
    .nav-right a img {
        width: 100%; 
    }

    .menu-toggle:checked ~ .nav-container {
        right: 0;
    }
}